In [30]:
# Initial imports
import pandas as pd
import hvplot.pandas
from pathlib import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.decomposition import PCA, IncrementalPCA
from sklearn.cluster import KMeans
import psycopg2
from sqlalchemy import create_engine

In [35]:
file_path = 'Used_Cars.csv'
df = pd.read_csv(file_path)
df.head()

C:\Users\tvhs1\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,id,vin,price,miles,stock_no,year,make,model,trim,...,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
0,0,38b2f52e-8f5d,1GCWGFCF3F1284719,20998.0,115879.0,W1T503168C,2015.0,Chevrolet,Express Cargo,Work Van,...,RWD,Automatic,E85 / Unleaded,4.8,V,nissan ellicott city,8569 Baltimore National Pike,Ellicott City,MD,21043
1,1,97ba4955-ccf0,WBY7Z8C59JVB87514,27921.0,7339.0,P33243,2018.0,BMW,i3,s,...,RWD,Automatic,Electric / Premium Unleaded,0.6,I,hendrick honda pompano beach,5381 N Federal Highway,Pompano Beach,FL,33064
2,2,be1da9fd-0f34,ML32F4FJ2JHF10325,11055.0,39798.0,WM2091A,2018.0,Mitsubishi,Mirage G4,SE,...,FWD,Automatic,Unleaded,1.2,I,russ darrow toyota,2700 West Washington St.,West Bend,WI,53095
3,3,84327e45-6cb6,1GCPTEE15K1291189,52997.0,28568.0,9U2Y425A,2019.0,Chevrolet,Colorado,ZR2,...,4WD,Automatic,Diesel,2.8,I,young kia,308 North Main Street,Layton,UT,84041
4,6,43847b9a-6fed,1B7HC16Y8YS543285,3995.0,137537.0,BP8246A,2000.0,Dodge,Ram Pickup,ST,...,RWD,Manual,Unleaded,5.2,V,baumann auto group,2379 W. State St.,Fremont,OH,43420

In [36]:
df = df.iloc[:, 1:]

In [37]:
df.head()

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,...,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
0,38b2f52e-8f5d,1GCWGFCF3F1284719,20998.0,115879.0,W1T503168C,2015.0,Chevrolet,Express Cargo,Work Van,Cargo Van,...,RWD,Automatic,E85 / Unleaded,4.8,V,nissan ellicott city,8569 Baltimore National Pike,Ellicott City,MD,21043
1,97ba4955-ccf0,WBY7Z8C59JVB87514,27921.0,7339.0,P33243,2018.0,BMW,i3,s,Hatchback,...,RWD,Automatic,Electric / Premium Unleaded,0.6,I,hendrick honda pompano beach,5381 N Federal Highway,Pompano Beach,FL,33064
2,be1da9fd-0f34,ML32F4FJ2JHF10325,11055.0,39798.0,WM2091A,2018.0,Mitsubishi,Mirage G4,SE,Sedan,...,FWD,Automatic,Unleaded,1.2,I,russ darrow toyota,2700 West Washington St.,West Bend,WI,53095
3,84327e45-6cb6,1GCPTEE15K1291189,52997.0,28568.0,9U2Y425A,2019.0,Chevrolet,Colorado,ZR2,Pickup,...,4WD,Automatic,Diesel,2.8,I,young kia,308 North Main Street,Layton,UT,84041
4,43847b9a-6fed,1B7HC16Y8YS543285,3995.0,137537.0,BP8246A,2000.0,Dodge,Ram Pickup,ST,Pickup,...,RWD,Manual,Unleaded,5.2,V,baumann auto group,2379 W. State St.,Fremont,OH,43420

In [39]:
df.to_csv('Used_Cars.csv', index = False)

In [40]:
df.dtypes

id               object
vin              object
price           float64
miles           float64
stock_no         object
year            float64
make             object
model            object
trim             object
body_type        object
vehicle_type     object
drivetrain       object
transmission     object
fuel_type        object
engine_size     float64
engine_block     object
seller_name      object
street           object
city             object
state            object
zip              object
dtype: object

In [42]:
clean_df = df.drop(columns=['id', 'vin', 'seller_name', 'street', 'stock_no', 'city', 'state', 'zip','engine_size', 'engine_block', 'trim', 'fuel_type', 'transmission', 'drivetrain', 'vehicle_type', 'body_type'])
clean_df.drop(clean_df.loc[clean_df['miles'] == 0].index, inplace=True)
clean_df.head()
clean_df = clean_df.sample(n=5000)

In [43]:
clean_df.loc[clean_df['miles'] == 0]

Empty DataFrame
Columns: [price, miles, year, make, model]
Index: []

In [44]:
clean_df.dtypes

price    float64
miles    float64
year     float64
make      object
model     object
dtype: object

In [45]:
clean_df.nunique()

price    3162
miles    4836
year       25
make       47
model     460
dtype: int64

In [46]:
clean_cat = clean_df.dtypes[df.dtypes == 'object'].index.tolist()
clean_cat

['make', 'model']

In [47]:
clean_df[clean_cat] = clean_df[clean_cat].astype('str')

In [48]:
clean_df

           price     miles    year           make             model
1975430  16971.0  377118.0  2010.0      Chevrolet  Silverado 2500HD
2281975  17925.0   26679.0  2018.0        Hyundai            Sonata
4718056  19312.0   29327.0  2019.0          Mazda              CX-3
4494341  46000.0   19564.0  2019.0      Chevrolet    Silverado 1500
5622093  41999.0   28784.0  2019.0          Acura               MDX
...          ...       ...     ...            ...               ...
2505564  23996.0  124288.0  2015.0           Ford             F-150
4917436  11985.0   80224.0  2017.0        Hyundai           Elantra
4892966  23998.0   28440.0  2019.0     Volkswagen            Tiguan
5041719  30788.0   29827.0  2019.0           Ford             F-150
3195850  25888.0   51348.0  2017.0  Mercedes-Benz         GLC-Class

[5000 rows x 5 columns]

In [49]:
clean_df.nunique()

price    3162
miles    4836
year       25
make       47
model     460
dtype: int64

In [50]:
#create new csv
clean_df.to_csv("CleanData.csv")

In [51]:
# create database engine
db_string = f"postgresql://postgres:{'Remijoy03!'}@localhost:5432/final_project"

In [53]:
engine=create_engine(db_string)
clean_df.to_sql(name='cars_cleaned', con=engine)

In [54]:
new_df =pd.read_sql_query('select * from cars_cleaned',con=engine)
new_df.head()

     index    price     miles    year       make             model
0  1975430  16971.0  377118.0  2010.0  Chevrolet  Silverado 2500HD
1  2281975  17925.0   26679.0  2018.0    Hyundai            Sonata
2  4718056  19312.0   29327.0  2019.0      Mazda              CX-3
3  4494341  46000.0   19564.0  2019.0  Chevrolet    Silverado 1500
4  5622093  41999.0   28784.0  2019.0      Acura               MDX

In [55]:
X = pd.get_dummies(new_df, columns=clean_cat, sparse= False)

In [56]:
X

,index,price,miles,year,make_Acura,make_Alfa Romeo,make_Aston Martin,make_Audi,make_BMW,make_Bentley,...,model_Yukon,model_Yukon XL,model_Z4,model_allroad,model_fortwo,model_i3,model_iA,model_iQ,model_tC,model_xB
0,1975430,16971.0,377118.0,2010.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2281975,17925.0,26679.0,2018.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4718056,19312.0,29327.0,2019.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4494341,46000.0,19564.0,2019.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5622093,41999.0,28784.0,2019.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2505564,23996.0,124288.0,2015.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4996,4917436,11985.0,80224.0,2017.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,4892966,23998.0,28440.0,2019.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,5041719,30788.0,29827.0,2019.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,3195850,25888.0,51348.0,2017.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
X_scaled = StandardScaler().fit_transform(X)

# PCA section

In [ ]:
pca = PCA(n_components=3)
car_pca = pca.fit_transform(X_scaled)

In [ ]:
pcs_df = pd.DataFrame(data=car_pca, columns=['PC 1' ,'PC 2', 'PC 3'])

In [ ]:
pcs_df.head()

In [ ]:
# Create an elbow curve to find the best value for K.
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(pcs_df)
    inertia.append(km.inertia_)

elbow_data = {'k': k, 'inertia': inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x='k', y='inertia', xticks=k, title='Elbow Curve')

# KMeans

In [ ]:
model = KMeans(n_clusters=4, random_state=0)
model

In [ ]:
model.fit(pcs_df)

In [ ]:
predictions = model.predict(pcs_df)
print(predictions)

In [ ]:
pcs_df

In [ ]:
new_df

In [ ]:
clustered_df = clean_df.merge(pcs_df, on=clean_df.index)
clustered_df

In [ ]:
clustered_df['Class'] = predictions

In [ ]:
viz_df = clustered_df
viz_df

In [ ]:
viz_df.hvplot(
    x="price", 
    y="miles",
    by="Class", 
    kind='scatter',
    hover_cols=['make','model'],

)

In [ ]:
# Creating a 3D-Scatter with the PCA data and the clusters
fig = px.scatter_3d(
    viz_df,
    x='PC 1',
    y='PC 2',
    z='PC 3',
    color='Class',
    hover_name= viz_df['make'],
    hover_data= ['model','price', 'miles']
    

)
fig.show()

# Cluster on other features

In [ ]:
df.head()

In [ ]:
clean_df = df.drop(columns=['Unnamed: 0', 'id', 'vin', 'seller_name', 'street', 'stock_no', 'city', 'state', 'zip',])
clean_df.drop(clean_df.loc[clean_df['miles'] == 0].index, inplace=True)
clean_df = clean_df.sample(n=1000)
clean_df.head()

In [ ]:
clean_cat = clean_df.dtypes[df.dtypes == 'object'].index.tolist()
clean_cat

In [ ]:
X = pd.get_dummies(clean_df, columns=clean_cat, sparse= False)

In [ ]:
X

In [ ]:
X_scaled = StandardScaler().fit_transform(X)

In [ ]:
pca = PCA(n_components=3)
car_pca = pca.fit_transform(X_scaled)

In [ ]:
pcs_df = pd.DataFrame(data=car_pca, columns=['PC 1' ,'PC 2', 'PC 3'])

In [ ]:
pcs_df.head()

In [ ]:
# Create an elbow curve to find the best value for K.
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(pcs_df)
    inertia.append(km.inertia_)

elbow_data = {'k': k, 'inertia': inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x='k', y='inertia', xticks=k, title='Elbow Curve')

In [ ]:
model = KMeans(n_clusters=4, random_state=0)
model

In [ ]:
model.fit(pcs_df)

In [ ]:
predictions = model.predict(pcs_df)
print(predictions)

In [ ]:
clustered_df = clean_df.merge(pcs_df, on=clean_df.index)
viz_df = clustered_df.drop(columns='key_0')

In [ ]:
viz_df['Class'] = predictions

In [ ]:
viz_df.head()

In [ ]:
viz_df.hvplot(
    x="price", 
    y="miles",
    by="Class", 
    kind='scatter',
    hover_cols=['make','model','drivetrain','vehicle_type' 'body_type','transmission']

)

In [ ]:
# Creating a 3D-Scatter with the PCA data and the clusters
fig = px.scatter_3d(
    viz_df,
    x='PC 1',
    y='PC 2',
    z='PC 3',
    color='Class',
    hover_name= viz_df['make'],
    hover_data= ['model','price', 'miles','drivetrain','vehicle_type','body_type']
    

)
fig.show()